USE [master]
GO
/****** Object:  Database [AS2]    Script Date: 28/02/2023 21:31:32 ******/
CREATE DATABASE [AS2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AS2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AS2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AS2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AS2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AS2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AS2]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 28/02/2023 21:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[author_id] [char](10) NOT NULL,
	[last_name] [nvarchar](15) NOT NULL,
	[first_name] [nvarchar](15) NOT NULL,
	[phone] [varchar](15) NULL,
	[address] [nvarchar](50) NULL,
	[city] [nvarchar](20) NULL,
	[state] [nvarchar](20) NULL,
	[zip] [varchar](20) NULL,
	[email_address] [varchar](50) NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 28/02/2023 21:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[book_id] [char](10) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[type] [nvarchar](20) NULL,
	[pub_id] [char](10) NOT NULL,
	[price] [decimal](10, 2) NULL,
	[advance] [decimal](10, 2) NULL,
	[royalty] [decimal](10, 2) NULL,
	[ytd_sales] [int] NULL,
	[notes] [nvarchar](50) NULL,
	[published_date] [date] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookAuthor]    Script Date: 28/02/2023 21:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAuthor](
	[author_id] [char](10) NOT NULL,
	[book_id] [char](10) NOT NULL,
	[author_order] [tinyint] NULL,
	[royality_percentage] [tinyint] NULL,
 CONSTRAINT [PK_BookAuthor] PRIMARY KEY CLUSTERED 
(
	[author_id] ASC,
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 28/02/2023 21:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[pub_id] [char](10) NOT NULL,
	[publisher_name] [nvarchar](50) NOT NULL,
	[city] [nvarchar](20) NULL,
	[state] [nvarchar](20) NULL,
	[country] [nvarchar](20) NULL,
 CONSTRAINT [PK_Publisher] PRIMARY KEY CLUSTERED 
(
	[pub_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 28/02/2023 21:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [bit] NOT NULL,
	[role_desc] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 28/02/2023 21:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [char](10) NOT NULL,
	[email_address] [varchar](50) NOT NULL,
	[password] [varchar](15) NOT NULL,
	[source] [nvarchar](50) NULL,
	[first_name] [nvarchar](15) NULL,
	[middle_name] [nvarchar](15) NULL,
	[last_name] [nvarchar](15) NULL,
	[role_id] [bit] NOT NULL,
	[pub_id] [char](10) NOT NULL,
	[hire_date] [date] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Author] ([author_id], [last_name], [first_name], [phone], [address], [city], [state], [zip], [email_address]) VALUES (N'0b4v5i1Y0Z', N'Ghelardi', N'Phillipe', N'6065268206', NULL, N'Jianqiao', NULL, N'CN', N'pghelardib@techcrunch.com')
INSERT [dbo].[Author] ([author_id], [last_name], [first_name], [phone], [address], [city], [state], [zip], [email_address]) VALUES (N'0L3Y1Y6o8j', N'Laugier', N'Verna', N'3745088510', NULL, N'Ozalj', NULL, N'JO', N'vlaugierh@bravesites.com')
INSERT [dbo].[Author] ([author_id], [last_name], [first_name], [phone], [address], [city], [state], [zip], [email_address]) VALUES (N'0N3u9Q756W', N'Tolefree', N'Korella', N'5065622868', NULL, N'Sviblovo', NULL, N'RU', N'ktolefree7@skyrock.com')
GO
INSERT [dbo].[Book] ([book_id], [title], [type], [pub_id], [price], [advance], [royalty], [ytd_sales], [notes], [published_date]) VALUES (N'0b2I8b4z0e', N'The Little Book of Joy', N'Memoir', N'349       ', CAST(10.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(3.00 AS Decimal(10, 2)), 14, N'Dental restoration NEC', CAST(N'2022-08-18' AS Date))
INSERT [dbo].[Book] ([book_id], [title], [type], [pub_id], [price], [advance], [royalty], [ytd_sales], [notes], [published_date]) VALUES (N'1z7n6X0k1n', N'Sach Kahun Toh', N'Autobiography', N'150       ', CAST(10.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(3.00 AS Decimal(10, 2)), 30, N'Ovarian wedge resection', CAST(N'2022-03-17' AS Date))
INSERT [dbo].[Book] ([book_id], [title], [type], [pub_id], [price], [advance], [royalty], [ytd_sales], [notes], [published_date]) VALUES (N'2l8Z5Z7K6E', N'The India Story', N'Autobiography', N'101       ', CAST(10.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(3.00 AS Decimal(10, 2)), 1, N'Thermokeratoplasty', CAST(N'2022-03-09' AS Date))
GO
INSERT [dbo].[BookAuthor] ([author_id], [book_id], [author_order], [royality_percentage]) VALUES (N'0b4v5i1Y0Z', N'2l8Z5Z7K6E', 12, 5)
INSERT [dbo].[BookAuthor] ([author_id], [book_id], [author_order], [royality_percentage]) VALUES (N'0b4v5i1Y0Z', N'2V70323k7V', 10, 5)
INSERT [dbo].[BookAuthor] ([author_id], [book_id], [author_order], [royality_percentage]) VALUES (N'0L3Y1Y6o8j', N'5F2w6u6n0e', 10, 5)
GO
INSERT [dbo].[Publisher] ([pub_id], [publisher_name], [city], [state], [country]) VALUES (N'101       ', N'Tundra Books', N'Evansville', N'Indiana', N'US')
INSERT [dbo].[Publisher] ([pub_id], [publisher_name], [city], [state], [country]) VALUES (N'105       ', N'Lulu.com', N'Paterson', N'New Jersey', N'US')
INSERT [dbo].[Publisher] ([pub_id], [publisher_name], [city], [state], [country]) VALUES (N'107       ', N'Cambridge University Press', N'Kansas City', N'Missouri', N'US')
GO
INSERT [dbo].[Role] ([role_id], [role_desc]) VALUES (0, N'admin')
INSERT [dbo].[Role] ([role_id], [role_desc]) VALUES (1, N'user')
GO
INSERT [dbo].[User] ([user_id], [email_address], [password], [source], [first_name], [middle_name], [last_name], [role_id], [pub_id], [hire_date]) VALUES (N'0F3D3C0H4N', N'igrovers@merriam-webster.com', N'1', NULL, N'Ivor', NULL, N'Grover', 1, N'397       ', CAST(N'2022-11-06' AS Date))
INSERT [dbo].[User] ([user_id], [email_address], [password], [source], [first_name], [middle_name], [last_name], [role_id], [pub_id], [hire_date]) VALUES (N'0i6q7T0i5e', N'sabbetsj@ted.com', N'1', NULL, N'Shelden', NULL, N'Abbets', 1, N'349       ', CAST(N'2021-03-31' AS Date))
INSERT [dbo].[User] ([user_id], [email_address], [password], [source], [first_name], [middle_name], [last_name], [role_id], [pub_id], [hire_date]) VALUES (N'2v659X2X2Q', N'gworledge7@hubpages.com', N'1', NULL, N'Geordie', NULL, N'Worledge', 1, N'111       ', CAST(N'2021-12-29' AS Date))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_author]    Script Date: 28/02/2023 21:31:32 ******/
CREATE NONCLUSTERED INDEX [idx_author] ON [dbo].[Author]
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_book]    Script Date: 28/02/2023 21:31:32 ******/
CREATE NONCLUSTERED INDEX [idx_book] ON [dbo].[Book]
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_publisher]    Script Date: 28/02/2023 21:31:32 ******/
CREATE NONCLUSTERED INDEX [idx_publisher] ON [dbo].[Publisher]
(
	[pub_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_user]    Script Date: 28/02/2023 21:31:32 ******/
CREATE NONCLUSTERED INDEX [idx_user] ON [dbo].[User]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book]  WITH NOCHECK ADD  CONSTRAINT [FK_Book_Publisher] FOREIGN KEY([pub_id])
REFERENCES [dbo].[Publisher] ([pub_id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Publisher]
GO
ALTER TABLE [dbo].[BookAuthor]  WITH NOCHECK ADD  CONSTRAINT [FK_BookAuthor_Author] FOREIGN KEY([author_id])
REFERENCES [dbo].[Author] ([author_id])
GO
ALTER TABLE [dbo].[BookAuthor] CHECK CONSTRAINT [FK_BookAuthor_Author]
GO
ALTER TABLE [dbo].[BookAuthor]  WITH NOCHECK ADD  CONSTRAINT [FK_BookAuthor_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[BookAuthor] CHECK CONSTRAINT [FK_BookAuthor_Book]
GO
ALTER TABLE [dbo].[User]  WITH NOCHECK ADD  CONSTRAINT [FK_User_Publisher] FOREIGN KEY([pub_id])
REFERENCES [dbo].[Publisher] ([pub_id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Publisher]
GO
ALTER TABLE [dbo].[User]  WITH NOCHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
